[submodule "angular.js"]
	path = angular.js
	url = https://github.com/angular/angular.js.git
[submodule "GreenSock-JS"]
	path = GreenSock-JS
	url = https://github.com/greensock/GreenSock-JS.git
[submodule "bootstrap"]
	path = bootstrap
	url = https://github.com/twbs/bootstrap.git
[submodule "jquery"]
	path = jquery
	url = https://github.com/jquery/jquery.git
[submodule "d3"]
	path = d3
	url = https://github.com/mbostock/d3.git
[submodule "ui-router"]
	path = ui-router
	url = https://github.com/angular-ui/ui-router.git
[submodule "restangular"]
	path = restangular
	url = https://github.com/mgonto/restangular.git
[submodule "underscore"]
	path = underscore
	url = https://github.com/jashkenas/underscore.git
[submodule "angular-timer"]
	path = angular-timer
	url = https://github.com/siddii/angular-timer.git
[submodule "angularjs-nvd3-directives"]
	path = angularjs-nvd3-directives
	url = https://github.com/cmaurer/angularjs-nvd3-directives.git
[submodule "nvd3"]
	path = nvd3
	url = https://github.com/novus/nvd3.git
[submodule "require-css"]
	path = require-css
	url = https://github.com/guybedford/require-css.git
[submodule "d3AngularIntegration"]
	path = d3AngularIntegration
	url = https://github.com/EpiphanyMachine/d3AngularIntegration.git
[submodule "science.js"]
	path = science.js
	url = https://github.com/jasondavies/science.js.git
[submodule "d3-plugins"]
	path = d3-plugins
	url = https://github.com/d3/d3-plugins.git
[submodule "d3-geo-projection"]
	path = d3-geo-projection
	url = https://github.com/d3/d3-geo-projection.git
[submodule "topojson"]
	path = topojson
	url = https://github.com/mbostock/topojson.git
[submodule "angular-google-maps"]
	path = angular-google-maps
	url = https://github.com/nlaplante/angular-google-maps.git
[submodule "requirejs-plugins"]
	path = requirejs-plugins
	url = https://github.com/millermedeiros/requirejs-plugins.git
[submodule "ua-parser-js"]
	path = ua-parser-js
	url = https://github.com/faisalman/ua-parser-js.git
[submodule "angular-xml"]
	path = angular-xml
	url = https://github.com/johngeorgewright/angular-xml.git

[submodule "d3-tip"]
	path = d3-tip
	url = https://github.com/Caged/d3-tip.git
[submodule "natural-earth-vector"]
	path = natural-earth-vector
	url = https://github.com/nvkelso/natural-earth-vector.git
[submodule "us-atlas"]
	path = us-atlas
	url = https://github.com/mbostock/us-atlas.git
[submodule "world-atlas"]
	path = world-atlas
	url = https://github.com/mbostock/world-atlas.git
