[submodule "angular.js"]
	path = angular.js
	url = https://github.com/angular/angular.js.git
[submodule "GreenSock-JS"]
	path = GreenSock-JS
	url = https://github.com/greensock/GreenSock-JS.git
[submodule "bootstrap"]
	path = bootstrap
	url = https://github.com/twbs/bootstrap.git
[submodule "jquery"]
	path = jquery
	url = https://github.com/jquery/jquery.git
[submodule "d3"]
	path = d3
	url = https://github.com/mbostock/d3.git
[submodule "ui-router"]
	path = ui-router
	url = https://github.com/angular-ui/ui-router.git
[submodule "restangular"]
	path = restangular
	url = https://github.com/mgonto/restangular.git
[submodule "underscore"]
	path = underscore
	url = https://github.com/jashkenas/underscore.git
[submodule "angular-timer"]
	path = angular-timer
	url = https://github.com/siddii/angular-timer.git
[submodule "angularjs-nvd3-directives"]
	path = angularjs-nvd3-directives
	url = https://github.com/cmaurer/angularjs-nvd3-directives.git
[submodule "nvd3"]
	path = nvd3
	url = https://github.com/novus/nvd3.git
[submodule "require-css"]
	path = require-css
	url = https://github.com/guybedford/require-css.git
[submodule "d3AngularIntegration"]
	path = d3AngularIntegration
	url = https://github.com/EpiphanyMachine/d3AngularIntegration.git
[submodule "science.js"]
	path = science.js
	url = https://github.com/jasondavies/science.js.git
[submodule "d3-plugins"]
	path = d3-plugins
	url = https://github.com/d3/d3-plugins.git
